.cabeçalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    /* Position the menu below the "Categorias" item */
    left: 0;
    width: 200px;
    background-color: var(--branco);
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}


.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__botao {
    display: none;
}

.container__titulo {
    display: none;
}

.opções__botão {
    display: none;
}

.opções__botão:checked~.lista-menu {
    display: block;
}

.opções__item {
    position: relative;
}

.opções__item:focus-within .lista-menu {
    display: block;
}

.opções {
    display: none;
}




@media screen and (min-width: 1024px) {

    .container__titulo,
    .container__titulo--negrito {
        font-family: var(--fonte-secundario);
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 400;
        display: none;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }


    .opções {
        display: flex;
    }

    .opções__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opções__link {
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem-transparente {
        display: block;
    }

    .contato {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contato__titulo {
        font-size: 24px;
    }

    .contato__descrição {
        margin-right: 1em;
        width: 30%;
    }

    .contato__email {
        width: 30%;
    }
}